In [1]:
import requests
from urllib.error import URLError, HTTPError
from http.client import IncompleteRead
from time import sleep

In [2]:
# kakao api
APP_KEY = "50ec8e7b1c4b4a0cb78c5ada1ebff80b"
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

In [3]:
def kakao_req(address):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)
    kakao_url_string = str(kakao_url)+ '?query='+ str(address)
    try:
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except HTTPError as e:
        print("502 error caused reply" + e)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except IncompleteRead:
        # Oh well, reconnect and keep trucking
        print("_chunk_size Error")
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except URLError as e:
        print(e.reason)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    else:
        data= resultXML.json()
        if len(data['documents']) ==0:
            data= '403'
            return data
        else:
            return resultXML

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = kakao_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np
from pyspark.sql import SQLContext

In [6]:
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = './office_rent_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)

office_rent_201701.csv
office_rent_201702.csv
office_rent_201703.csv
office_rent_201704.csv
office_rent_201705.csv
office_rent_201706.csv
office_rent_201707.csv
office_rent_201708.csv
office_rent_201709.csv
office_rent_201710.csv
office_rent_201711.csv
office_rent_201712.csv
office_rent_201801.csv
office_rent_201802.csv
office_rent_201803.csv
office_rent_201804.csv
office_rent_201805.csv
office_rent_201806.csv
office_rent_201807.csv
office_rent_201808.csv
office_rent_201809.csv
office_rent_201810.csv
office_rent_201811.csv
office_rent_201812.csv
office_rent_201901.csv
office_rent_201902.csv
office_rent_201903.csv
office_rent_201904.csv
office_rent_201905.csv
office_rent_201906.csv
office_rent_201907.csv
office_rent_201908.csv
office_rent_201909.csv
office_rent_201910.csv
office_rent_201911.csv
office_rent_201912.csv
office_rent_202001.csv
office_rent_202002.csv
office_rent_202003.csv
office_rent_202004.csv
office_rent_202005.csv
office_rent_202006.csv
office_rent_202007.csv
office_rent_202008.csv
office_rent_202009.csv
office_rent_202010.csv
office_rent_202011.csv
office_rent_202012.csv

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- deposit: string (nullable = true)
 |-- rental_fee: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: integer (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+-------+----------+----+-----+---+----------+--------+-------+-----+----------------------+-----+----------------------+-------------------------+----------------+
|_c0|build_year|deposit|rental_fee|year|month|day|      city|sub_city|   dong| code|                  name|floor|exclusive_private_area|                  address|detailed_address|
+---+----------+-------+----------+----+-----+---+----------+--------+-------+-----+----------------------+-----+----------------------+-------------------------+----------------+
|  0|      1998|  1,000|        50|2020|    2| 26|서울특별시|  종로구| 필운동|11110|            파크뷰타워|    5|                 25.86|서울특별시 종로구  필운동|           285=5|
|  1|      1998| 15,000|         0|2020|    2| 28|서울특별시|  종로구| 필운동|11110|            파크뷰타워|    7|                 25.86|서울특별시 종로구  필운동|           285=5|
|  2|      2008|  5,000|        70|2020|    2| 15|서울특별시|  종로구| 사직동|11110| 광화문 풍림스페이스본|    5|                 39.54|서울특별시 종로구  사직동|               9|
|  3|      2004|  6,000|        70|2020|    2|  1|서울특별시|  종로구| 내수동|11110|            용비어천가|    4|                 37.56|서울특별시 종로구  내수동|              75|
|  4|      2004| 24,000|         0|2020|    2|  1|서울특별시|  종로구| 내수동|11110|            용비어천가|    3|                 37.56|서울특별시 종로구  내수동|              75|
|  5|      2004| 15,000|        30|2020|    2|  6|서울특별시|  종로구| 내수동|11110|            광화문시대|   13|                  34.9|서울특별시 종로구  내수동|              74|
|  6|      2004|  4,000|        85|2020|    2|  6|서울특별시|  종로구| 내수동|11110|   경희궁의 아침 4단지|    4|                 41.74|서울특별시 종로구  내수동|              73|
|  7|      2004| 26,000|         0|2020|    2|  8|서울특별시|  종로구| 내수동|11110|            용비어천가|   14|                 41.38|서울특별시 종로구  내수동|              75|
|  8|      2004| 23,000|         0|2020|    2| 11|서울특별시|  종로구| 내수동|11110|   경희궁의 아침 2단지|    2|                 32.43|서울특별시 종로구  내수동|              71|
|  9|      2004| 22,000|         0|2020|    2| 11|서울특별시|  종로구| 내수동|11110|            용비어천가|    9|                  33.0|서울특별시 종로구  내수동|              75|
| 10|      2004| 22,000|         0|2020|    2| 12|서울특별시|  종로구| 내수동|11110|            광화문시대|   10|                  34.9|서울특별시 종로구  내수동|              74|
| 11|      2004| 10,000|        50|2020|    2| 20|서울특별시|  종로구| 내수동|11110|            용비어천가|    5|                  33.0|서울특별시 종로구  내수동|              75|
| 12|      2004|  5,000|        90|2020|    2| 24|서울특별시|  종로구| 내수동|11110|            광화문시대|    2|                 38.88|서울특별시 종로구  내수동|              74|
| 13|      2004| 12,000|        20|2020|    2| 24|서울특별시|  종로구| 내수동|11110|            광화문시대|   18|                 30.08|서울특별시 종로구  내수동|              74|
| 14|      2004| 11,000|        45|2020|    2| 26|서울특별시|  종로구| 내수동|11110|            광화문시대|    4|                 32.01|서울특별시 종로구  내수동|              74|
| 15|      2004| 10,000|        95|2020|    2|  6|서울특별시|  종로구| 수송동|11110|      두산위브파빌리온|    4|                 53.02|서울특별시 종로구  수송동|              58|
| 16|      2004|  1,000|        60|2020|    2| 11|서울특별시|  종로구| 익선동|11110|BIZ-WELL 종로 오피스텔|    7|                 23.14|서울특별시 종로구  익선동|              34|
| 17|      2005|  6,000|        60|2020|    2|  1|서울특별시|  종로구| 경운동|11110|  운현궁 에스케이 허브|    7|                  39.2|서울특별시 종로구  경운동|            89=4|
| 18|      2019|  1,000|        80|2020|    2|  5|서울특별시|  종로구| 돈의동|11110|          드래곤팰리스|    6|                 23.07|서울특별시 종로구  돈의동|            41=1|
| 19|      2019|  1,000|        70|2020|    2| 11|서울특별시|  종로구| 돈의동|11110|          드래곤팰리스|   10|                 20.25|서울특별시 종로구  돈의동|            41=1|
+---+----------+-------+----------+----+-----+---+----------+--------+-------+-----+----------------------+-----+----------------------+-------------------------+----------------+
only showing top 20 rows

449174

In [11]:
filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))
# agg = exprs에 들어있는 계산식으로 dataframe 계산

unique_date_list = unique_date_df.collect()
new_date_list = []
for unique_date in unique_date_list:
    
    if unique_date[1] < 10 :
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
        
    else:
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|deposit|rental_fee|      city|       sub_city|       dong| code|                          name|floor|exclusive_private_area|                       address|detailed_address|               date|
+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
|2017|    1|  1|  1|      2002|  2,500|         0|    경기도|         안성시|대덕면 내리|41550|                  명경오피스텔|    4|                  22.5|     경기도 안성시 대덕면 내리|           694=1|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|    500|        45|부산광역시|         연제구|     거제동|26470|                   유림제우스B|    2|                 19.16|     부산광역시 연제구  거제동|           751=3|2017-01-01T00:00:00|
|2017|    1|  1|116|      2005|  2,000|       120|    경기도|고양시 일산동구|     백석동|41285|                브라운스톤일산|   13|                103.26|경기도 고양시 일산동구  백석동|            1330|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|  2,000|        55|부산광역시|           동구|     초량동|26170|             신화하니엘 더시티|   14|                 49.13|       부산광역시 동구  초량동|          1145=9|2017-01-01T00:00:00|
|2017|    1|  1| 15|      2016|  4,000|        19|부산광역시|         금정구|     장전동|26410|                   네버랜드201|    6|                 18.98|     부산광역시 금정구  장전동|          265=10|2017-01-01T00:00:00|
|2017|    1|  1| 26|      2012|  2,500|        18|부산광역시|         사상구|     주례동|26530|                  동양드림하이|    2|                 20.37|     부산광역시 사상구  주례동|           163=1|2017-01-01T00:00:00|
|2017|    1|  1|  2|      2015|  4,000|        30|    경기도|  수원시 영통구|     이의동|41117|        광교센트럴푸르지오시티|   13|                 22.62|  경기도 수원시 영통구  이의동|            1338|2017-01-01T00:00:00|
|2017|    1|  1|132|      2002|    500|        40|서울특별시|       동대문구|     휘경동|11230|           휘경동 코업레지던스|    7|                 13.86|   서울특별시 동대문구  휘경동|           319=5|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2007|  1,000|        50|서울특별시|         관악구|     봉천동|11620|                  한울오피스텔|    7|                 22.33|     서울특별시 관악구  봉천동|          867=10|2017-01-01T00:00:00|
|2017|    1|  1| 33|      2012|    200|        48|부산광역시|       부산진구|     전포동|26230|                  오렌지카운티|    7|                  15.6|   부산광역시 부산진구  전포동|           196=2|2017-01-01T00:00:00|
|2017|    1|  1| 34|      2002|  4,000|        55|부산광역시|         동래구|     사직동|26260|                 사직동 유로빌|    9|                116.94|     부산광역시 동래구  사직동|            53=3|2017-01-01T00:00:00|
|2017|    1|  1|  6|      2016|  2,000|        40|부산광역시|         연제구|     연산동|26470|         연산역 유성해네스타워|   11|                 29.95|     부산광역시 연제구  연산동|           588=7|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|  3,000|        30|부산광역시|         사상구|     괘법동|26530|              대박힐링오피스텔|   12|                  26.8|     부산광역시 사상구  괘법동|          551=29|2017-01-01T00:00:00|
|2017|    1|  1|  3|      2014|  3,000|        30|광주광역시|           서구|     치평동|29140|       중흥에스-클래스스카이31|   24|                 29.94|       광주광역시 서구  치평동|          1203=1|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2004|  1,500|        29|광주광역시|           남구|       구동|29155|              남구구동오피스텔|    5|                 30.42|         광주광역시 남구  구동|            1=21|2017-01-01T00:00:00|
|2017|    1|  1| 58|      2004| 35,000|         0|서울특별시|           중구|  만리동2가|11140|                  KCC 파크타운|   14|                 66.47|    서울특별시 중구  만리동2가|            11=1|2017-01-01T00:00:00|
|2017|    1|  1| 27|      2016|  1,000|        52|서울특별시|       동대문구|   답십리동|11230|                  한일노벨리아|   11|                 19.05| 서울특별시 동대문구  답십리동|           494=1|2017-01-01T00:00:00|
|2017|    1|  1|180|      2017|  3,000|       130|서울특별시|         강서구|     마곡동|11500|마곡센트럴대방디엠시티오피스텔|   14|                 56.41|     서울특별시 강서구  마곡동|           776=2|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2013| 11,000|         0|서울특별시|         관악구|     봉천동|11620|                          라온|    2|                 17.34|     서울특별시 관악구  봉천동|           868=8|2017-01-01T00:00:00|
|2017|    1|  1|  7|      2013|  3,000|        20|부산광역시|         영도구|     동삼동|26200|                  하리타운 A동|    9|                 21.68|     부산광역시 영도구  동삼동|           850=4|2017-01-01T00:00:00|
+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
only showing top 20 rows

424174

In [15]:
added_date_df = added_date_df.withColumn("detailed_address", regexp_replace(col("detailed_address"),"=","-"))
added_date_df.show()

+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|deposit|rental_fee|      city|       sub_city|       dong| code|                          name|floor|exclusive_private_area|                       address|detailed_address|               date|
+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
|2017|    1|  1|  1|      2002|  2,500|         0|    경기도|         안성시|대덕면 내리|41550|                  명경오피스텔|    4|                  22.5|     경기도 안성시 대덕면 내리|           694-1|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|    500|        45|부산광역시|         연제구|     거제동|26470|                   유림제우스B|    2|                 19.16|     부산광역시 연제구  거제동|           751-3|2017-01-01T00:00:00|
|2017|    1|  1|116|      2005|  2,000|       120|    경기도|고양시 일산동구|     백석동|41285|                브라운스톤일산|   13|                103.26|경기도 고양시 일산동구  백석동|            1330|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|  2,000|        55|부산광역시|           동구|     초량동|26170|             신화하니엘 더시티|   14|                 49.13|       부산광역시 동구  초량동|          1145-9|2017-01-01T00:00:00|
|2017|    1|  1| 15|      2016|  4,000|        19|부산광역시|         금정구|     장전동|26410|                   네버랜드201|    6|                 18.98|     부산광역시 금정구  장전동|          265-10|2017-01-01T00:00:00|
|2017|    1|  1| 26|      2012|  2,500|        18|부산광역시|         사상구|     주례동|26530|                  동양드림하이|    2|                 20.37|     부산광역시 사상구  주례동|           163-1|2017-01-01T00:00:00|
|2017|    1|  1|  2|      2015|  4,000|        30|    경기도|  수원시 영통구|     이의동|41117|        광교센트럴푸르지오시티|   13|                 22.62|  경기도 수원시 영통구  이의동|            1338|2017-01-01T00:00:00|
|2017|    1|  1|132|      2002|    500|        40|서울특별시|       동대문구|     휘경동|11230|           휘경동 코업레지던스|    7|                 13.86|   서울특별시 동대문구  휘경동|           319-5|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2007|  1,000|        50|서울특별시|         관악구|     봉천동|11620|                  한울오피스텔|    7|                 22.33|     서울특별시 관악구  봉천동|          867-10|2017-01-01T00:00:00|
|2017|    1|  1| 33|      2012|    200|        48|부산광역시|       부산진구|     전포동|26230|                  오렌지카운티|    7|                  15.6|   부산광역시 부산진구  전포동|           196-2|2017-01-01T00:00:00|
|2017|    1|  1| 34|      2002|  4,000|        55|부산광역시|         동래구|     사직동|26260|                 사직동 유로빌|    9|                116.94|     부산광역시 동래구  사직동|            53-3|2017-01-01T00:00:00|
|2017|    1|  1|  6|      2016|  2,000|        40|부산광역시|         연제구|     연산동|26470|         연산역 유성해네스타워|   11|                 29.95|     부산광역시 연제구  연산동|           588-7|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2016|  3,000|        30|부산광역시|         사상구|     괘법동|26530|              대박힐링오피스텔|   12|                  26.8|     부산광역시 사상구  괘법동|          551-29|2017-01-01T00:00:00|
|2017|    1|  1|  3|      2014|  3,000|        30|광주광역시|           서구|     치평동|29140|       중흥에스-클래스스카이31|   24|                 29.94|       광주광역시 서구  치평동|          1203-1|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2004|  1,500|        29|광주광역시|           남구|       구동|29155|              남구구동오피스텔|    5|                 30.42|         광주광역시 남구  구동|            1-21|2017-01-01T00:00:00|
|2017|    1|  1| 58|      2004| 35,000|         0|서울특별시|           중구|  만리동2가|11140|                  KCC 파크타운|   14|                 66.47|    서울특별시 중구  만리동2가|            11-1|2017-01-01T00:00:00|
|2017|    1|  1| 27|      2016|  1,000|        52|서울특별시|       동대문구|   답십리동|11230|                  한일노벨리아|   11|                 19.05| 서울특별시 동대문구  답십리동|           494-1|2017-01-01T00:00:00|
|2017|    1|  1|180|      2017|  3,000|       130|서울특별시|         강서구|     마곡동|11500|마곡센트럴대방디엠시티오피스텔|   14|                 56.41|     서울특별시 강서구  마곡동|           776-2|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2013| 11,000|         0|서울특별시|         관악구|     봉천동|11620|                          라온|    2|                 17.34|     서울특별시 관악구  봉천동|           868-8|2017-01-01T00:00:00|
|2017|    1|  1|  7|      2013|  3,000|        20|부산광역시|         영도구|     동삼동|26200|                  하리타운 A동|    9|                 21.68|     부산광역시 영도구  동삼동|           850-4|2017-01-01T00:00:00|
+----+-----+---+---+----------+-------+----------+----------+---------------+-----------+-----+------------------------------+-----+----------------------+------------------------------+----------------+-------------------+
only showing top 20 rows

In [16]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+-----------------------------+----------------+-----+
|                      address|detailed_address|count|
+-----------------------------+----------------+-----+
| 경기도 수원시 영통구  이의동|            1330|  276|
|    대전광역시 유성구  지족동|           863-2|   75|
|      경기도 남양주시  다산동|          6060-2|   36|
|      서울특별시 중구  흥인동|               8|   21|
|    부산광역시 금정구  장전동|          227-12|   12|
|    서울특별시 강북구  수유동|            48-1|   85|
| 경기도 용인시 수지구  상현동|          1133-2|  163|
|    서울특별시 강서구  마곡동|           784-4|  316|
|    서울특별시 은평구  불광동|           319-8|   13|
|    서울특별시 강동구  암사동|           502-3|   13|
|    서울특별시 관악구  봉천동|          912-14|   34|
|      서울특별시 도봉구  창동|         731-113|    8|
|    서울특별시 강동구  천호동|          167-57|   16|
|경상북도 경산시 하양읍 금락리|          161-32|    7|
|    서울특별시 금천구  독산동|          331-40|   25|
|      충청남도 서산시  읍내동|         102-125|   86|
|    서울특별시 강동구  성내동|            43-6|   35|
| 경기도 안양시 동안구  호계동|          892-15|   17|
|   경기도 용인시 기흥구  중동|          1111-7|   34|
|   경기도 안산시 상록구  사동|          1197-4|   28|
+-----------------------------+----------------+-----+
only showing top 20 rows

11950

In [17]:
sum = new_df.select(sum("count"))
sum.show()

+----------+
|sum(count)|
+----------+
|    424174|
+----------+

In [18]:
unique_address_list = new_df.collect()
#print (unique_address_list[0][0])

In [19]:
import sys

def req_addr(address):
    data=0
    if '-' in address[1]:
        check = str(address[1]).split('-')[0]
        if address[1].split('-')[0].isdigit() == False or address[1].split('-')[1].isdigit() == False:
            print(address)
            print('주소에 글자섞임')
            data= 400
    if data == 0:
        response = kakao_req(address[0] + " " + address[1])
    else :
        return data
    if response == '403':
        print('빈배열 에러 ' + address[0] + " " + address[1])
        sleep(5)
        data= 3
        return data
    else :
        return response

In [20]:

location_list = []

# checking why no esult data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;
print (length)
addr2 =unique_address_list[:1]

for address in unique_address_list: 
    #full_address = (address[0] + " " + address[1]).encode('utf8')
    #print(full_address)
    response = req_addr(address)
    if response == 400 or response == 3:
        continue
    if response.status_code == 200:
        data = response.json()
        x = data['documents'][0]['address']['x']
        y = data['documents'][0]['address']['y']
        location_list.append([address[0],address[1],y,x])
    else: 
        print (response.json())
        count += 1
        #print (count)
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if index % 100 == 0:
        print (("%0.2f" % (index / length * 100.0)) + "% completed")
        
    index += 1.0

11950
0.84% completed
빈배열 에러 경기도 용인시 기흥구  구갈동 662
1.67% completed
빈배열 에러 서울특별시 동대문구  용두동 100-8
2.51% completed
3.35% completed
4.18% completed
빈배열 에러 경기도 시흥시  정왕동 1771-24
5.02% completed
5.86% completed
빈배열 에러 부산광역시 동래구  온천동 189-49
6.69% completed
7.53% completed
8.37% completed
9.21% completed
10.04% completed
10.88% completed
빈배열 에러 경상남도 양산시  평산동 184
11.72% completed
12.55% completed
13.39% completed
14.23% completed
15.06% completed
15.90% completed
16.74% completed
17.57% completed
18.41% completed
빈배열 에러 서울특별시 영등포구  영등포동2가 306-2
19.25% completed
20.08% completed
20.92% completed
21.76% completed
빈배열 에러 경기도 부천시  중동 1153
22.59% completed
23.43% completed
24.27% completed
25.10% completed
25.94% completed
26.78% completed
27.62% completed
28.45% completed
29.29% completed
30.13% completed
빈배열 에러 서울특별시 관악구  신림동 1430-23
30.96% completed
31.80% completed
32.64% completed
33.47% completed
34.31% completed
35.15% completed
35.98% completed
36.82% completed
빈배열 에러 강원도 원주시  일산동 185-1
37.66% completed
38.49% completed
39.33% completed
40.17% completed
빈배열 에러 부산광역시 해운대구  우동 588-1
41.00% completed
41.84% completed
42.68% completed
43.51% completed
44.35% completed
45.19% completed
46.03% completed
46.86% completed
47.70% completed
빈배열 에러 서울특별시 관악구  봉천동 1667-18
48.54% completed
49.37% completed
50.21% completed
51.05% completed
51.88% completed
52.72% completed
53.56% completed
54.39% completed
빈배열 에러 대구광역시 동구  검사동 990-41
55.23% completed
56.07% completed
56.90% completed
57.74% completed
58.58% completed
59.41% completed
60.25% completed
61.09% completed
빈배열 에러 경기도 용인시 기흥구  구갈동 663
61.92% completed
62.76% completed
63.60% completed
64.44% completed
65.27% completed
66.11% completed
66.95% completed
67.78% completed
68.62% completed
빈배열 에러 경기도 오산시  오산동 535-15
69.46% completed
70.29% completed
빈배열 에러 부산광역시 해운대구  반여동 1020
71.13% completed
71.97% completed
72.80% completed
73.64% completed
74.48% completed
75.31% completed
76.15% completed
76.99% completed
77.82% completed
78.66% completed
79.50% completed
80.33% completed
81.17% completed
빈배열 에러 부산광역시 부산진구  양정동 167-4
82.01% completed
82.85% completed
83.68% completed
84.52% completed
85.36% completed
빈배열 에러 경기도 구리시  교문동 233-20
86.19% completed
87.03% completed
87.87% completed
88.70% completed
89.54% completed
90.38% completed
91.21% completed
빈배열 에러 충청북도 청주시 상당구  남문로1가동 180-2
92.05% completed
92.89% completed
93.72% completed
빈배열 에러 경기도 안양시 만안구  안양동 576-1
빈배열 에러 부산광역시 사상구  괘법동 545-11
94.56% completed
95.40% completed
96.23% completed
빈배열 에러 경기도 용인시 기흥구  구갈동 658
97.07% completed
97.91% completed
98.74% completed
99.58% completed

In [21]:
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

+-----------------------------+----------------+----------------+----------------+
|                      address|detailed_address|        latitude|       longitude|
+-----------------------------+----------------+----------------+----------------+
| 경기도 수원시 영통구  이의동|            1330|37.2925283683075|127.049160071729|
|    대전광역시 유성구  지족동|           863-2|36.3825806256824|127.320554874073|
|      경기도 남양주시  다산동|          6060-2|37.6244552414091|127.151553661342|
|      서울특별시 중구  흥인동|               8|37.5677164459151|127.016349553927|
|    부산광역시 금정구  장전동|          227-12|35.2372286857415|129.087989071154|
|    서울특별시 강북구  수유동|            48-1|37.6344211076685|127.022862985412|
| 경기도 용인시 수지구  상현동|          1133-2|37.2959868892725|127.069970873404|
|    서울특별시 강서구  마곡동|           784-4| 37.565515930868|126.840040467869|
|    서울특별시 은평구  불광동|           319-8|37.6199384778402|126.924162549321|
|    서울특별시 강동구  암사동|           502-3| 37.550953080587|127.126918876322|
|    서울특별시 관악구  봉천동|          912-14|37.4825377009476|126.945161024233|
|      서울특별시 도봉구  창동|         731-113|37.6568827432129|127.040557178053|
|    서울특별시 강동구  천호동|          167-57|37.5388281813469|127.132318119245|
|경상북도 경산시 하양읍 금락리|          161-32|35.9079799653822|128.812900975347|
|    서울특별시 금천구  독산동|          331-40|37.4667285355886|126.893891434222|
|      충청남도 서산시  읍내동|         102-125|36.7775755541126|126.450353810518|
|    서울특별시 강동구  성내동|            43-6|37.5365684842159|127.124520376783|
| 경기도 안양시 동안구  호계동|          892-15|37.3900678365451|126.942940945215|
|   경기도 용인시 기흥구  중동|          1111-7|37.2832168939521|127.141595552508|
|   경기도 안산시 상록구  사동|          1197-4|37.3017037893824|126.851100920471|
+-----------------------------+----------------+----------------+----------------+
only showing top 20 rows

In [22]:
location.count()

11929

In [23]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [24]:
joined_df.show()
joined_df.count()

+-----------------------+----------------+----+-----+---+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|                address|detailed_address|year|month|day|_c0|build_year|deposit|rental_fee|  city|sub_city|   dong| code|                name|floor|exclusive_private_area|               date|        latitude|       longitude|
+-----------------------+----------------+----+-----+---+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|경기도 남양주시  다산동|          6060-2|2020|    7|  1| 26|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 19| 50|      2020| 12,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  1| 20|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 14| 49|      2020| 12,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.15|2020-07-14T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 24| 67|      2020|  2,000|        42|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-24T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    8|  3| 19|      2020|    500|        55|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-08-03T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28| 64|      2020|  4,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28| 67|      2020|  3,000|        25|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28| 69|      2020| 11,500|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10| 34|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10| 35|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10|  9| 20|      2020| 13,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-10-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10| 26| 34|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    3|                 20.62|2020-10-26T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  9| 30|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 18| 49|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-05-18T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   12| 30| 75|      2020|  2,000|        30|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-12-30T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 27| 56|      2020|  3,500|        20|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-06-27T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 19| 48|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13| 45|      2020| 11,700|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13| 46|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
+-----------------------+----------------+----+-----+---+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

423220

In [25]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|                address|detailed_address|year|month|day|build_year|deposit|rental_fee|  city|sub_city|   dong| code|                name|floor|exclusive_private_area|               date|        latitude|       longitude|
+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|경기도 남양주시  다산동|          6060-2|2020|    7|  1|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 19|      2020| 12,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  1|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 14|      2020| 12,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.15|2020-07-14T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 24|      2020|  2,000|        42|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-24T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    8|  3|      2020|    500|        55|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-08-03T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020|  4,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020|  3,000|        25|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020| 11,500|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10|  9|      2020| 13,000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-10-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10| 26|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    3|                 20.62|2020-10-26T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  9|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 18|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-05-18T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   12| 30|      2020|  2,000|        30|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-12-30T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 27|      2020|  3,500|        20|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-06-27T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 19|      2020|  1,000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13|      2020| 11,700|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

423220

In [26]:
final_apartment_df = drop_index_df.na.drop()
final_apartment_df = final_apartment_df.withColumn('deposit',regexp_replace('deposit',"\\,", "")).withColumn('rental_fee',regexp_replace('rental_fee',"\\,", ""))
final_apartment_df.show()
final_apartment_df.count()

+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|                address|detailed_address|year|month|day|build_year|deposit|rental_fee|  city|sub_city|   dong| code|                name|floor|exclusive_private_area|               date|        latitude|       longitude|
+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
|경기도 남양주시  다산동|          6060-2|2020|    7|  1|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 19|      2020|  12000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  1|      2020|   1000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-01T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 14|      2020|  12000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.15|2020-07-14T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 24|      2020|   2000|        42|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-07-24T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    8|  3|      2020|    500|        55|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-08-03T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020|   4000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020|   3000|        25|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 28|      2020|  11500|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    7|                 20.62|2020-05-28T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 10|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-10T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10|  9|      2020|  13000|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-10-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   10| 26|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    3|                 20.62|2020-10-26T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6|  9|      2020|   1000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-06-09T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    5| 18|      2020|    500|        45|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-05-18T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|   12| 30|      2020|   2000|        30|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-12-30T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 27|      2020|   3500|        20|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    4|                 20.62|2020-06-27T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    6| 19|      2020|   1000|        40|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    6|                 20.62|2020-06-19T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13|      2020|  11700|         0|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    8|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
|경기도 남양주시  다산동|          6060-2|2020|    7| 13|      2020|    500|        50|경기도|남양주시| 다산동|41360|다산 중앙하이츠 파크|    5|                 20.62|2020-07-13T00:00:00|37.6244552414091|127.151553661342|
+-----------------------+----------------+----+-----+---+----------+-------+----------+------+--------+-------+-----+--------------------+-----+----------------------+-------------------+----------------+----------------+
only showing top 20 rows

423220

In [27]:
#final_apartment_df.write.format('com.databricks.spark.csv').save('mycsv.csv')
final_apartment_df.coalesce(1).write.csv('office_rent.csv')