In [1]:
import requests
from urllib.error import URLError, HTTPError
from http.client import IncompleteRead
from time import sleep

In [2]:
# kakao api
APP_KEY = ""
kakao_url = "https://dapi.kakao.com/v2/local/search/address.json"
kakao_headers = {"Authorization" : "KakaoAK {}".format(APP_KEY)}

In [21]:
def kakao_req(address):
#     print('HTTP Method: %s' % method)
#     print('Request URL: %s' % kakao_url)
#     print('Headers: %s' % kakao_headers)
#     print('QueryString: %s' % params)
    kakao_url_string = str(kakao_url)+ '?query='+ str(address)
    try:
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except HTTPError as e:
        print("502 error caused reply" + e)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except IncompleteRead:
        # Oh well, reconnect and keep trucking
        print("_chunk_size Error")
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    except URLError as e:
        print(e.reason)
        resultXML = requests.get(kakao_url_string, headers=kakao_headers)
    else:
        data= resultXML.json()
        print(data)
        if len(data['documents']) ==0:
            data= '403'
            return data
        else:
            return resultXML

In [4]:
def get_location(address):

    params = {"query": "{}".format(address)}

    response = kakao_req(params, 'GET')
        

#    #kakao parsing
#     pprint(data['meta']['total_count'])
#     pprint(data["documents"][0]["x"])
#     pprint(data["documents"][0]["y"])
    
        
    return response

In [5]:
import findspark
findspark.init()
import pyspark
import os
import numpy as np
from pyspark.sql import SQLContext

In [6]:
sc = pyspark.SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [7]:
basic_folder = './villa_rent_data/'

file_list = os.listdir(basic_folder)
path_list=[]
for file in file_list:
    print(file)
    path_list.append(basic_folder + file)

villa_rent_201701.csv
villa_rent_201702.csv
villa_rent_201703.csv
villa_rent_201704.csv
villa_rent_201705.csv
villa_rent_201706.csv
villa_rent_201707.csv
villa_rent_201708.csv
villa_rent_201709.csv
villa_rent_201801.csv
villa_rent_201802.csv
villa_rent_201803.csv
villa_rent_201804.csv
villa_rent_201805.csv
villa_rent_201806.csv
villa_rent_201807.csv
villa_rent_201808.csv
villa_rent_201809.csv
villa_rent_201810.csv
villa_rent_201811.csv
villa_rent_201812.csv
villa_rent_201902.csv
villa_rent_201903.csv
villa_rent_201906.csv
villa_rent_201909.csv
villa_rent_201910.csv
villa_rent_201911.csv
villa_rent_201912.csv

In [8]:
df = sqlContext.read.format("com.databricks.spark.csv") \
    .option("header", "true").option("inferSchema", "true").load(path_list)

In [9]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- build_year: integer (nullable = true)
 |-- deposit: string (nullable = true)
 |-- rental_fee: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- sub_city: string (nullable = true)
 |-- dong: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- exclusive_private_area: double (nullable = true)
 |-- address: string (nullable = true)
 |-- detailed_address: string (nullable = true)

In [10]:
df.show()
df.count()

+---+----------+----------+----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
|_c0|build_year|   deposit|rental_fee|year|month|day|      city|sub_city|   dong| code|             name|floor|exclusive_private_area|                  address|detailed_address|
+---+----------+----------+----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
|  0|      2001|    42,000|         0|2018|    3|  9|서울특별시|  종로구| 청운동|11110|       궁정빌리지|    2|                 73.98|서울특별시 종로구  청운동|           89=17|
|  1|      2001|    42,000|         0|2018|    3|  9|서울특별시|  종로구| 청운동|11110|       궁정빌리지|    2|                 73.98|서울특별시 종로구  청운동|           89=17|
|  2|      1988|     5,000|       200|2018|    3| 27|서울특별시|  종로구| 청운동|11110|   청운벽산빌리지|    2|                 83.61|서울특별시 종로구  청운동|               1|
|  3|      1988|    25,000|         0|2018|    3| 31|서울특별시|  종로구| 청운동|11110|   청운벽산빌리지|    2|                 82.89|서울특별시 종로구  청운동|               1|
|  4|      1999|    22,000|         0|2018|    3|  7|서울특별시|  종로구| 신교동|11110|       해오름빌라|    4|                 59.97|서울특별시 종로구  신교동|            20=1|
|  5|      2005|     1,000|        46|2018|    3| 29|서울특별시|  종로구| 신교동|11110|          (17-46)|    3|                 34.12|서울특별시 종로구  신교동|           17=46|
|  6|      2002|    30,000|         0|2018|    3|  1|서울특별시|  종로구| 누상동|11110|  코디골드빌105동|    4|                  59.8|서울특별시 종로구  누상동|              80|
|  7|      2000|    12,000|         0|2018|    3|  2|서울특별시|  종로구| 누상동|11110|         번영주택|    2|                 26.64|서울특별시 종로구  누상동|             135|
|  8|      2013|    30,000|         0|2018|    3|  3|서울특별시|  종로구| 누상동|11110|    경복아트빌6차|    2|                 66.74|서울특별시 종로구  누상동|          166=51|
|  9|      2004|       450|        14|2018|    3|  9|서울특별시|  종로구| 누상동|11110|         태광빌라|    4|                  56.7|서울특별시 종로구  누상동|             119|
| 10|      2003|    39,000|         0|2018|    3| 15|서울특별시|  종로구| 누상동|11110|           루미빌|    2|                 78.48|서울특별시 종로구  누상동|              14|
| 11|      2013|    20,000|        35|2018|    3| 17|서울특별시|  종로구| 누상동|11110|    경복아트빌6차|    4|                 66.74|서울특별시 종로구  누상동|          166=51|
| 12|      1998|    23,000|         0|2018|    3| 19|서울특별시|  종로구| 누상동|11110|녹원하이츠빌라3동|    4|                 58.51|서울특별시 종로구  누상동|         166=233|
| 13|      2001|    21,000|         0|2018|    3| 20|서울특별시|  종로구| 누상동|11110|          청마C동|    1|                 59.97|서울특별시 종로구  누상동|            83=4|
| 14|      1999|    27,000|         0|2018|    3| 21|서울특별시|  종로구| 누상동|11110|녹원하이츠빌라6동|    2|                 59.79|서울특별시 종로구  누상동|         166=247|
| 15|      1997|    20,000|        15|2018|    3| 29|서울특별시|  종로구| 누상동|11110|        (166-170)|    3|                 54.31|서울특별시 종로구  누상동|         166=127|
| 16|      2007|    32,000|         0|2018|    3| 30|서울특별시|  종로구| 누상동|11110|         해오름빌|    3|                 65.66|서울특별시 종로구  누상동|            29=8|
| 17|      1998|    33,000|         0|2018|    3|  2|서울특별시|  종로구| 옥인동|11110|       옥인하우스|    3|                 67.83|서울특별시 종로구  옥인동|           19=35|
| 18|      1996|    13,000|        20|2018|    3| 29|서울특별시|  종로구| 옥인동|11110|         (178-20)|    2|                  51.6|서울특별시 종로구  옥인동|          178=20|
| 19|      2001|     3,000|        50|2018|    3|  3|서울특별시|  종로구| 체부동|11110|         청마빌라|    3|                 26.11|서울특별시 종로구  체부동|           106=1|
+---+----------+----------+----------+----+-----+---+----------+--------+-------+-----+-----------------+-----+----------------------+-------------------------+----------------+
only showing top 20 rows

391062

In [11]:
filter_df = df.na.drop()

In [12]:
from pyspark.sql.functions import *

In [13]:
unique_date_df = filter_df.groupBy(filter_df.year,filter_df.month, filter_df.day).agg(count("day").alias('count'))
# agg = exprs에 들어있는 계산식으로 dataframe 계산

unique_date_list = unique_date_df.collect()
new_date_list = []
for unique_date in unique_date_list:
    
    if unique_date[1] < 10 :
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
        else:
            date = str(unique_date[0]) + '-' + "0" + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
        
    else:
        if unique_date[2] < 10 : 
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' + "0" +str(unique_date[2]) + 'T' + "00:00:00"
    
        else:
            date = str(unique_date[0]) + '-' + str(unique_date[1]) + '-' +str(unique_date[2]) + 'T' + "00:00:00"
    
    
    new_date_list.append([unique_date[0], unique_date[1],unique_date[2],date])
    
unique_date_df = sc.parallelize(new_date_list).toDF(['year','month','day','date'])

In [14]:
added_date_df = filter_df.join(unique_date_df, ['year','month','day']).sort('date')
added_date_df.show()
added_date_df.count()

+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|   deposit|rental_fee|      city|sub_city|      dong| code|                   name|floor|exclusive_private_area|                     address|detailed_address|               date|
+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
|2017|    1|  1|  4|      2015|     3,000|        55|서울특별시|  금천구|    독산동|11545|           금나래아트빌|    3|                 35.51|   서울특별시 금천구  독산동|          963=18|2017-01-01T00:00:00|
|2017|    1|  1|127|      2015|     2,000|        75|서울특별시|  노원구|    상계동|11350|       상계 예인빌라1차|    5|                 34.91|   서울특별시 노원구  상계동|         387=176|2017-01-01T00:00:00|
|2017|    1|  1| 56|      1982|    11,000|         0|서울특별시|  구로구|    개봉동|11530|미림빌라 가~라동(108-5)|    2|                 61.19|   서울특별시 구로구  개봉동|           108=5|2017-01-01T00:00:00|
|2017|    1|  1| 59|      1976|         0|        10|서울특별시|  강북구|    수유동|11305|           영일(530-27)|    1|                 74.15|   서울특별시 강북구  수유동|          530=27|2017-01-01T00:00:00|
|2017|    1|  1| 32|      1991|    10,000|         0|서울특별시|  노원구|    공릉동|11350|           우성빌라 B동|    3|                 36.93|   서울특별시 노원구  공릉동|          366=32|2017-01-01T00:00:00|
|2017|    1|  1| 42|      2003|    10,000|        40|서울특별시|  마포구|    신수동|11440|                (62-50)|    2|                  52.5|   서울특별시 마포구  신수동|           62=50|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2013|     9,000|         0|서울특별시|  구로구|    구로동|11530|             경성그린빌|    3|                 26.67|   서울특별시 구로구  구로동|          486=47|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1996|     1,000|        60|서울특별시|  중랑구|    면목동|11260|               (1159-2)|    1|                 44.28|   서울특별시 중랑구  면목동|          1159=2|2017-01-01T00:00:00|
|2017|    1|  1|104|      2002|     5,000|        25|서울특별시|  성북구|    정릉동|11290|             동방월드빌|    2|                 44.78|   서울특별시 성북구  정릉동|         192=224|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2011|     6,000|         0|서울특별시|  노원구|    월계동|11350|               MAI BAUM|    4|                 12.09|   서울특별시 노원구  월계동|           400=1|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2003|    10,000|         0|서울특별시|  노원구|    월계동|11350|               (534-25)|    2|                 47.28|   서울특별시 노원구  월계동|          534=25|2017-01-01T00:00:00|
|2017|    1|  1|110|      2008|    14,000|         0|서울특별시|  은평구|    구산동|11380|     삼성빌리지(188-59)|    2|                 50.61|   서울특별시 은평구  구산동|          188=59|2017-01-01T00:00:00|
|2017|    1|  1| 56|      2002|     1,000|        50|서울특별시|서대문구|    창천동|11410|              해피빌3차|    1|                 35.86| 서울특별시 서대문구  창천동|           99=10|2017-01-01T00:00:00|
|2017|    1|  1|171|      1987|       100|        14|서울특별시|  양천구|    신월동|11470|                   영곡|    2|                 40.92|   서울특별시 양천구  신월동|          477=12|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1985|    22,000|         0|서울특별시|  구로구|    구로동|11530|               우성빌라|    2|                 76.32|   서울특별시 구로구  구로동|              33|2017-01-01T00:00:00|
|2017|    1|  1| 23|      2013|    13,000|         0|서울특별시|  성동구|    행당동|11200|                 azalea|    2|                 15.54|   서울특별시 성동구  행당동|           37=31|2017-01-01T00:00:00|
|2017|    1|  1| 84|      2011|     7,200|         0|서울특별시|동대문구|    휘경동|11230|               (293-39)|    2|                  15.0| 서울특별시 동대문구  휘경동|          293=39|2017-01-01T00:00:00|
|2017|    1|  1| 75|      2013|     4,000|        85|서울특별시|  성북구| 안암동2가|11290|               (161-13)|    3|                 30.09|서울특별시 성북구  안암동2가|          161=13|2017-01-01T00:00:00|
|2017|    1|  1| 87|      2012|     2,000|        65|서울특별시|  성북구| 안암동5가|11290|                (12-24)|    4|                 14.13|서울특별시 성북구  안암동5가|           12=24|2017-01-01T00:00:00|
|2017|    1|  1| 60|      1998|     6,000|         0|서울특별시|  강북구|    수유동|11305|               영종맨션|    2|                 69.68|   서울특별시 강북구  수유동|           180=7|2017-01-01T00:00:00|
+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
only showing top 20 rows

391058

In [15]:
added_date_df = added_date_df.withColumn("detailed_address", regexp_replace(col("detailed_address"),"=","-"))
added_date_df.show()

+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
|year|month|day|_c0|build_year|   deposit|rental_fee|      city|sub_city|      dong| code|                   name|floor|exclusive_private_area|                     address|detailed_address|               date|
+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
|2017|    1|  1|  4|      2015|     3,000|        55|서울특별시|  금천구|    독산동|11545|           금나래아트빌|    3|                 35.51|   서울특별시 금천구  독산동|          963-18|2017-01-01T00:00:00|
|2017|    1|  1|127|      2015|     2,000|        75|서울특별시|  노원구|    상계동|11350|       상계 예인빌라1차|    5|                 34.91|   서울특별시 노원구  상계동|         387-176|2017-01-01T00:00:00|
|2017|    1|  1| 56|      1982|    11,000|         0|서울특별시|  구로구|    개봉동|11530|미림빌라 가~라동(108-5)|    2|                 61.19|   서울특별시 구로구  개봉동|           108-5|2017-01-01T00:00:00|
|2017|    1|  1| 59|      1976|         0|        10|서울특별시|  강북구|    수유동|11305|           영일(530-27)|    1|                 74.15|   서울특별시 강북구  수유동|          530-27|2017-01-01T00:00:00|
|2017|    1|  1| 32|      1991|    10,000|         0|서울특별시|  노원구|    공릉동|11350|           우성빌라 B동|    3|                 36.93|   서울특별시 노원구  공릉동|          366-32|2017-01-01T00:00:00|
|2017|    1|  1| 42|      2003|    10,000|        40|서울특별시|  마포구|    신수동|11440|                (62-50)|    2|                  52.5|   서울특별시 마포구  신수동|           62-50|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2013|     9,000|         0|서울특별시|  구로구|    구로동|11530|             경성그린빌|    3|                 26.67|   서울특별시 구로구  구로동|          486-47|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1996|     1,000|        60|서울특별시|  중랑구|    면목동|11260|               (1159-2)|    1|                 44.28|   서울특별시 중랑구  면목동|          1159-2|2017-01-01T00:00:00|
|2017|    1|  1|104|      2002|     5,000|        25|서울특별시|  성북구|    정릉동|11290|             동방월드빌|    2|                 44.78|   서울특별시 성북구  정릉동|         192-224|2017-01-01T00:00:00|
|2017|    1|  1|  0|      2011|     6,000|         0|서울특별시|  노원구|    월계동|11350|               MAI BAUM|    4|                 12.09|   서울특별시 노원구  월계동|           400-1|2017-01-01T00:00:00|
|2017|    1|  1|  1|      2003|    10,000|         0|서울특별시|  노원구|    월계동|11350|               (534-25)|    2|                 47.28|   서울특별시 노원구  월계동|          534-25|2017-01-01T00:00:00|
|2017|    1|  1|110|      2008|    14,000|         0|서울특별시|  은평구|    구산동|11380|     삼성빌리지(188-59)|    2|                 50.61|   서울특별시 은평구  구산동|          188-59|2017-01-01T00:00:00|
|2017|    1|  1| 56|      2002|     1,000|        50|서울특별시|서대문구|    창천동|11410|              해피빌3차|    1|                 35.86| 서울특별시 서대문구  창천동|           99-10|2017-01-01T00:00:00|
|2017|    1|  1|171|      1987|       100|        14|서울특별시|  양천구|    신월동|11470|                   영곡|    2|                 40.92|   서울특별시 양천구  신월동|          477-12|2017-01-01T00:00:00|
|2017|    1|  1|  0|      1985|    22,000|         0|서울특별시|  구로구|    구로동|11530|               우성빌라|    2|                 76.32|   서울특별시 구로구  구로동|              33|2017-01-01T00:00:00|
|2017|    1|  1| 23|      2013|    13,000|         0|서울특별시|  성동구|    행당동|11200|                 azalea|    2|                 15.54|   서울특별시 성동구  행당동|           37-31|2017-01-01T00:00:00|
|2017|    1|  1| 84|      2011|     7,200|         0|서울특별시|동대문구|    휘경동|11230|               (293-39)|    2|                  15.0| 서울특별시 동대문구  휘경동|          293-39|2017-01-01T00:00:00|
|2017|    1|  1| 75|      2013|     4,000|        85|서울특별시|  성북구| 안암동2가|11290|               (161-13)|    3|                 30.09|서울특별시 성북구  안암동2가|          161-13|2017-01-01T00:00:00|
|2017|    1|  1| 87|      2012|     2,000|        65|서울특별시|  성북구| 안암동5가|11290|                (12-24)|    4|                 14.13|서울특별시 성북구  안암동5가|           12-24|2017-01-01T00:00:00|
|2017|    1|  1| 60|      1998|     6,000|         0|서울특별시|  강북구|    수유동|11305|               영종맨션|    2|                 69.68|   서울특별시 강북구  수유동|           180-7|2017-01-01T00:00:00|
+----+-----+---+---+----------+----------+----------+----------+--------+----------+-----+-----------------------+-----+----------------------+----------------------------+----------------+-------------------+
only showing top 20 rows

In [16]:
new_df = added_date_df.groupBy(added_date_df.address,added_date_df.detailed_address).agg(count("detailed_address").alias("count"))
new_df.show()
new_df.count()

+-----------------------------+----------------+-----+
|                      address|detailed_address|count|
+-----------------------------+----------------+-----+
|    서울특별시 강서구  화곡동|          832-42|   12|
|    서울특별시 금천구  시흥동|             982|   89|
|      부산광역시 북구  덕천동|          417-10|    5|
|    서울특별시 마포구  연남동|          223-46|    7|
|    부산광역시 동래구  사직동|           42-20|    1|
| 경기도 안양시 동안구  관양동|         1422-15|    3|
|      서울특별시 중랑구  묵동|           177-9|    6|
|서울특별시 서대문구  북아현동|          1-1755|    4|
|  부산광역시 부산진구  개금동|            33-1|    1|
|    부산광역시 연제구  거제동|           751-5|   19|
| 경기도 수원시 팔달구  인계동|            1030|   12|
|    서울특별시 강동구  성내동|           226-4|    4|
|        경기도 시흥시  신천동|          823-23|    2|
|    서울특별시 강남구  개포동|          1163-4|   18|
|    서울특별시 송파구  송파동|           88-18|    1|
|        경기도 부천시  약대동|            75-1|    8|
|  부산광역시 부산진구  부전동|           414-2|   11|
|    서울특별시 동작구  상도동|         244-343|    9|
|    인천광역시 부평구  부개동|           383-4|    3|
|    서울특별시 송파구  석촌동|           11-14|    3|
+-----------------------------+----------------+-----+
only showing top 20 rows

134775

In [17]:
sum = new_df.select(sum("count"))
sum.show()

+----------+
|sum(count)|
+----------+
|    391058|
+----------+

In [18]:
unique_address_list = new_df.collect()
#print (unique_address_list[0][0])

In [19]:
import sys

def req_addr(address):
    data=0
    if '-' in address[1]:
        check = str(address[1]).split('-')[0]
        if address[1].split('-')[0].isdigit() == False or address[1].split('-')[1].isdigit() == False:
            print(address)
            print('주소에 글자섞임')
            data= 400
    if data == 0:
        response = kakao_req(address[0] + " " + address[1])
    else :
        return data
    if response == '403':
        print('빈배열 에러 ' + address[0] + " " + address[1])
        sleep(5)
        data= 3
        return data
    else :
        return response

In [22]:

location_list = []

# checking why no esult data
# response = get_location("경상북도 영천시 신령면 완전리") -> 신녕면
# print response.status_code
# data = response.json()
# print data

index = 1.0;
length = len(unique_address_list)
count = 0;
print (length)
addr2 =unique_address_list[:1]

for address in unique_address_list: 
    #full_address = (address[0] + " " + address[1]).encode('utf8')
    #print(full_address)
    response = req_addr(address)
    if response == 400 or response == 3:
        continue
    if response.status_code == 200:
        data = response.json()
        x = data['documents'][0]['address']['x']
        y = data['documents'][0]['address']['y']
        location_list.append([address[0],address[1],y,x])
    else: 
        print (response.json())
        count += 1
        #print (count)
        location_list.append([address[0],address[1] ,np.nan,np.nan])
    
    if index % 100 == 0:
        print (("%0.2f" % (index / length * 100.0)) + "% completed")
        
    index += 1.0

134775
{'errorType': 'RequestThrottled', 'message': 'API limit has been exceeded.'}

KeyError: 'documents'

In [ ]:
location = sc.parallelize(location_list).toDF(['address','detailed_address','latitude','longitude'])
location.show()

In [ ]:
location.count()

In [ ]:
joined_df = added_date_df.join(location.select('address','detailed_address','latitude','longitude'), ['address','detailed_address'])

In [ ]:
joined_df.show()
joined_df.count()

In [ ]:
drop_index_df = joined_df.drop("_c0")
drop_index_df.show()
drop_index_df.count()

In [ ]:
final_apartment_df = drop_index_df.na.drop()
final_apartment_df = final_apartment_df.withColumn('deposit',regexp_replace('deposit',"\\,", "")).withColumn('rental_fee',regexp_replace('rental_fee',"\\,", ""))
final_apartment_df.show()
final_apartment_df.count()

In [ ]:
#final_apartment_df.write.format('com.databricks.spark.csv').save('mycsv.csv')
final_apartment_df.coalesce(1).write.csv('villa_rent.csv')